:root {
    --dark: #393939;
    --grey: #757575;
    --primary-color: #feb918;
    --main-font: "Red Hat Text", sans-serif;
    --item-box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(148, 153, 156, 0.32) 0px 2px 16px 0px;
}
